.custom-btn {
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    transition: 1s;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}