.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    color: black;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 0;
    margin: 0px;
}

.navigation ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}

.navigation ul li a:hover {
    color: black;
    font-weight: 600;
}

.navigation ul li a.active {
    color: black;
    font-weight: 600;
}

.cnIcon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.cnIcon .cartIcon {
    font-size: 40px;
    font-weight: 400;
    color: rgb(109, 109, 109);
}

.cnIcon .countNum {
    position: absolute;
    top: -5px;
    right: -8px;
    font-size: 18px;
    font-weight: 500;
    background: rgb(207, 207, 207);
    padding: 6px;
    border-radius: 50%;
    color: rgb(221, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 25px;
    height: 25px;
}