.collection-preview {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}

.collection-preview .collectionTitle {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: darkgray;
}

.collection-preview  .collection-item-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
